@use "@/common/styles/colors" as *

.add-question
  margin-top: 0.5rem
  display: flex
  width: clamp(8rem, 12vw, 12rem)
  height: 6rem
  background-color: $background
  border: 2px dashed $border
  border-radius: 1rem
  overflow: hidden
  cursor: pointer

  svg
    margin: auto
    font-size: 2rem
    color: $gray
    user-select: none


@media screen and (max-width: 915px)
  .add-question
    width: 100%
    height: 5rem