@use "@/common/styles/colors" as *

.answer-container
  margin-top: 2rem
  width: 100%

  &.grid-layout
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 1rem

  &.full-layout
    display: flex
    flex-direction: column
    gap: 1rem

@media screen and (max-width: 620px)
  .answer-container
    &.grid-layout
      grid-template-columns: 1fr
      grid-gap: 1rem
