@import "@/common/styles/colors"

.scan-dialog
  z-index: 50 !important
  background-color: rgba(0, 0, 0, 0.56)
  margin: 0
  position: absolute
  left: 0
  right: 0
  top: 0
  height: 100vh
  display: none
  align-items: center

.scanner-shown
  display: flex

.qr-reader
  width: 450px
  height: 450px
  margin: 0 auto
  position: relative

  video
    border-radius: 1rem
    width: 100%
    height: 100%
    object-fit: cover

.home-page
  display: flex
  align-items: center
  justify-content: center
  height: 90vh
  flex-direction: column

  img
    width: 25rem
    background-color: $background
    border-radius: 1rem
    padding: 1rem

.home-content
  margin-top: 3rem
  display: flex
  align-items: center
  justify-content: space-between
  gap: 10rem

.join-area
  display: flex
  flex-direction: column
  align-items: center
  gap: 1rem

  .result-area
    z-index: 0
    display: flex
    gap: 1rem
    flex-direction: column

  h2
    margin: 0

  .alternative
    display: flex
    align-items: center
    gap: 0.5rem

    h2
      margin: 0

    hr
      border: none
      height: 2px
      border-radius: 5rem
      width: 4rem
      background-color: $border

.action-area
  display: flex
  flex-direction: column
  gap: 1rem
  z-index: 1 !important


.legal-area
  position: fixed
  bottom: 1rem
  left: 1rem
  display: flex
  gap: 1rem

  a
    color: $text
    text-decoration: none

    &:hover
      text-decoration: underline

@media screen and (max-width: 800px)
  .home-content
    flex-direction: column
    gap: 3rem


  .home-page img
    width: 15rem

  .join-area
    gap: 2rem


@media screen and (max-width: 600px)
  .action-area button:nth-child(2)
    display: none