@import "@/common/styles/colors"

.quiz-creator
  margin: 3rem
  background-color: transparent

.quiz-header-area
  display: flex
  align-items: center
  gap: 2rem

  img
    height: 3.5rem

.quiz-action-area, .quiz-title-area
  display: flex
  gap: 1rem
  align-items: center

  svg
    color: $primary
    font-size: 2rem
    cursor: pointer

  svg.locked
    color: $gray

  .import-icon
    color: $green

.question-area
  margin-top: 4rem
  display: flex
  gap: 2rem

.question-list
  height: 40rem
  overflow-y: scroll

.question-list .questions
  display: flex
  flex-direction: column
  gap: 0.5rem


@media screen and (max-width: 1300px)
  .quiz-header-area img
    display: none

  .quiz-header-area
    gap: 0

@media screen and (max-width: 915px)
  .quiz-title-area
    flex-direction: column
    align-items: flex-start

  .quiz-action-area svg
    width: 2rem
    height: 2rem
    background-color: $background
    padding: 0.6rem
    border-radius: 50%

  .question-area
    flex-direction: column
    gap: 2rem
  .question-list
    height: 100%
    overflow-x: hidden

@media screen and (max-width: 560px)
  .quiz-title-area
    align-items: center