@import "@/common/styles/colors"

.circle-tl
  position: fixed
  top: -25rem
  left: -25rem
  width: 30rem
  height: 30rem
  background-color: $primary
  border-radius: 100%
  transform: rotate(55deg)

.rect-br
  position: fixed
  bottom: -25rem
  right: -25rem
  width: 25rem
  height: 25rem
  background-color: $primary
  border-radius: 1rem
  transform: rotate(55deg)