@import "@/common/styles/colors"

.host-page .quiz-info-container
  position: fixed
  top: 3rem
  right: 3rem
  gap: 1rem
  display: flex
  flex-direction: column
  align-items: flex-end

.host-page .quiz-information
  max-width: 25rem
  padding: 1rem 1rem
  border-radius: 1rem
  border: 2px solid $border

  .info-header
    display: flex
    align-items: center
    gap: 2rem

    h1
      margin: 0

    svg
      width: 4.5rem

  p
    font-size: 18pt

  span
    color: $primary


  h2
    font-size: 24pt
    margin: 0
    color: $background
    background-color: $primary
    width: fit-content
    padding: 0.8rem 1.5rem
    border-radius: 0.5rem

  .triangle
    position: absolute
    right: 1rem
    bottom: 5.5rem
    width: 6rem
    height: 6rem
    border-radius: 1rem
    transform: rotate(22deg)

.host-page .member-info
  display: flex
  flex-direction: column
  margin-left: 5rem
  padding-top: 20%

  img
    width: 25rem


.host-page .system-ui
  position: fixed
  bottom: 1rem
  left: 1rem
  gap: 1rem
  display: flex


.host-page .qr
  cursor: zoom-in

.host-page .qr-dialog
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  display: flex
  align-items: center
  justify-content: center
  background-color: rgba(0, 0, 0, 0.5)
  z-index: 100
  cursor: zoom-out

.host-page .qr-big
  width: 25vw
  height: 25vw
  border: 1rem solid white
  border-radius: 2rem
  cursor: zoom-out