@import "@/common/styles/colors"

.custom-input
  border: 1px solid $border
  border-radius: 0.8rem
  padding: 0.8rem 1.5rem
  font-size: 24px
  font-weight: 500
  box-sizing: border-box
  transition: border-color 0.2s
  outline: none
  width: 100%

  &:focus
    border-color: $primary