@import "@/common/styles/colors"
.question-editor
  width: 65vw
  border: 2px solid $border
  border-radius: 1rem
  padding: 1rem
  background-color: $background
  box-sizing: border-box

  .question-action-area
    display: flex
    align-items: center
    gap: 1rem


@media screen and (max-width: 915px)
  .question-editor
    width: 100%