@import "@/common/styles/colors"
.question-editor
  width: 65vw
  border: 2px solid $border
  border-radius: 1rem
  padding: 1rem

  .question-action-area
    display: flex
    align-items: center
    gap: 1rem
